{
  essence: {
    calculation: {
      calculationBase: 2
    };
    cost: {
      experiencePoints: {
        factor: 8
      }
    }
  };
  willpower: {
    calculation: {
      calculationBase: 5
    };
    cost: {
      bonusPoints: 2;
      experiencePoints: {
        factor: 2
      }
    }
  }
}