{
  essence: {
    calculation: {
      calculationBase: 1
    };
    cost: {
      experiencePoints: 0
    }
  };
  willpower: {
    calculation: {
      calculationBase: 5
    };
    cost: {
      bonusPoints: 2;
      experiencePoints: 8
    }
  }
}