{
  willpower: {
    startValue: 5;
    minimumValue = 5;
    modificationType: "RaiseOnly";
    limitation: {
      type: "Static";
      value: 10
    }
  };
  essence: {
    startValue: 2;
    minimumValue = 2;
    modificationType: "RaiseOnly";
    limitation: {
      type: "Static";
      value: 5
    }
  };
  essenceValues: {
    0: 2,
    75: 3,
    150: 4,
    250: 5
  }
}