{
    generalCreationPoints: {
        freePicks: 15;
        costs: 4
    };
    favoredCreationPoints: {
        costs: 3
    };
    generalExperiencePoints: {
         costs: 10
    };
    favoredExperiencePoints: {
        costs: 8
    }
}