.selection-pane {
    -fx-background-color: linear-gradient(to bottom, crimson, #4d0815)
}

.toolbox{
    -fx-background-color: transparent;
}

.new-hero-splat-selector{
    -fx-background-color: transparent;
    -fx-content-display: left;
    -fx-cursor: hand;
}