.selection-pane {
    -fx-background-color: linear-gradient(to bottom, crimson, #4d0815)
}

.toolbox {
    -fx-background-color: transparent;
}

.new-hero-splat-selector {
    -fx-background-color: transparent;
    -fx-content-display: left;
    -fx-cursor: hand;
}

.dirty {
    -fx-text-fill: #40C4FF;
}

.clean {
    -fx-text-fill: whitesmoke;
}

.character-grid-button:hover {
    -fx-background-color: linear-gradient(to bottom, derive(crimson, -10%), black);
}

.tool {
    -fx-text-fill: whitesmoke;
}