.root {
    -fx-background-color: white
}

.dirty {
    -fx-font-weight: bold;
}

.clean {
    -fx-font-weight: normal;
}

.character-grid-button {
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
}

.character-grid-button:hover {
    -fx-background-color: derive(white, -30%);
}

.character-grid-button:selected {
    -fx-background-color: derive(white, -20%);
    -fx-cursor: default;
}

.character-grid-button .image {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}