.dirty {
    -fx-text-fill: #40C4FF;
}

.clean {
    -fx-text-fill: black;
}

.character-grid-button:hover {
    -fx-background-color: linear-gradient(to bottom, black, derive(crimson, -10%));
    -fx-text-fill: whitesmoke;
}