.hero-link-bar {
  -fx-background-color: linear-gradient(to bottom, black, black)
}

.hero-link-button {
  -fx-background-color: transparent;
  -fx-text-fill: whitesmoke;
}

.split-menu-button {
  -fx-background-color: transparent;
}

.split-menu-button > .label {
  -fx-text-fill: whitesmoke;
  -fx-background-color: transparent;
}

.split-menu-button > .label:hover {
  -fx-underline: true;
  -fx-cursor: hand;
}

.split-menu-button > .arrow-button {
  -fx-background-color: transparent;
  -fx-cursor: hand;
}
