{
  willpower: {
    startValue: 3;
    minimumValue = 3;
    modificationType: "RaiseOnly";
    limitation: {
      type: "Static";
      value: 10
    }
  };
  essence: {
    startValue: 1;
    minimumValue = 1;
    modificationType: "RaiseOnly";
    limitation: {
      type: "Static";
      value: 1
    }
  };
  virtues: {
    startValue: 1;
    minimumValue = 1;
    modificationType: "RaiseOnly";
    limitation: {
      type: "Static";
      value: 5
    }
  }
}