{
  generalDots: 25;
  maximalFreebieRank: 3;
  standard: {
    calculation: {
      calculationBase: 0
    };
    favoredCost: {
      bonusPoints: 1;
      experiencePoints: {
        factor: 2;
        addend: -1;
        firstDotCost: 3
      }
    };
    defaultCost: {
      bonusPoints: 2;
      experiencePoints: {
        factor: 2;
        firstDotCost: 3
      }
    }
  }
}