{
  essence: {
    calculation: {
      calculationBase: 1
    };
    cost: {
      experiencePoints: {
        factor: 20
      }
    }
  };
  willpower: {
    calculation: {
      calculationBase: 3
    };
    cost: {
      bonusPoints: 2;
      experiencePoints: {
        factor: 2
      }
    }
  }
}