{
  nativeCategories: [ "Solar", "MartialArts", "Evocations" ];
  alienCharmCastes: [ "Eclipse" ],
  additionalCharmRules: [ "LearnsExcellencyForLearnedFavoredTraits",
  	"LearnsExcellencyWithOtherCharm" ]
}