{
  favoringTrait: Occult,
  charmInitiations: {
     Terrestrial: {
     	type: charm,
     	charmId: Solar.TerrestrialCircleSorcery
     },
     Celestial: {
     	type: charm,
     	charmId: Solar.CelestialCircleSorcery
     },
     Solar: {
     	type: charm,
     	charmId: Solar.SolarCircleSorcery
     }
  }
}